body {
    background: #f8f8f8;
    text-align: left;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    color: #555;
    font-size: 16px;
    font-weight: 400;
}

strong { font-weight: 700; }
.red { color: #eb4141; }
a:hover { text-decoration: none; }

.header {
    margin: 0 auto;
    padding-bottom: 5px;
    background: #f8f8f8 url(../img/pattern.jpg) left top repeat;
    border-top: 3px solid #eb4141;
    -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
}

.logo h1 {
    padding-left: 50px;
    font-family: 'Oleo Script', cursive;
    font-size: 36px;
    font-weight: 400;
}

.logo h1 a { color: #555; }

.links {
    text-align: right;
}

textarea {
    resize: vertical;
}



